<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页(INDEX)</title>
    <!--定义th:fragment时使用::，  html页面的相对路径，不需要写后缀(.html)::fragment定义的名字
        replace:替换；insert:内部插入;include同insert，不建议使用
        ex:<head th:replace="common/fragment_head::head"/>
    -->
    <head th:replace="common/comm_head"/>
</head>
<body>

<body class="easyui-layout">
<div data-options="region:'north',border:false" class="h__50p ov__hidden">
    <h2 class="dis__inlineblock m__l__10p">公共服务管理系统</h2>
    <div style="border:1px solid;width: 35%;font-size: 16px;line-height: 25px;" class="dis__inlineblock m__l__20p">消息区消息区消息区消息区...</div>
</div>
<div data-options="region:'west',split:true,title:'功能'" class="w__150p"></div>
<div data-options="region:'east',split:true,collapsed:true,title:'更多'" class="w__100p"></div>
<div data-options="region:'south',border:false" class="h__50p"></div>
<div data-options="region:'center',title:'首页'"></div>
</body>

<!--<span th:text="${data2} eq null?'没有数据l':${data2}"></span>222-->
<script src="/static/js/index.js"></script>

</body>
</html>